# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Client/bin/Debug/netstandard2.1/Blog.Client.pdb
Client/bin/Debug/netstandard2.1/Blog.Client.StaticWebAssets.xml
*.pdb
*.gz
Client/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.webassembly.js
Client/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.3.2.0.js
Client/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.wasm
Client/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.timezones.dat
Client/obj/Blog.Client.csproj.nuget.dgspec.json
Client/obj/Blog.Client.csproj.nuget.g.props
Client/obj/Blog.Client.csproj.nuget.g.targets
Client/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Client/obj/Debug/netstandard2.1/blazor/blazor.boot.json
Client/obj/Debug/netstandard2.1/blazor/boot.json.input
Client/obj/Debug/netstandard2.1/blazor/unlinked.output
Client/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json
Client/bin/Debug/netstandard2.1/Properties/launchSettings.json
Client/obj/Debug/netstandard2.1/Blog.Client.AssemblyInfoInputs.cache
Client/obj/Debug/netstandard2.1/Blog.Client.csproj.CopyComplete
*.cache
Client/obj/Debug/netstandard2.1/Blog.Client.csproj.FileListAbsolute.txt
Client/obj/Debug/netstandard2.1/compressed/brotli.manifest.json
Client/obj/Debug/netstandard2.1/compressed/gzip.manifest.json
Client/obj/Debug/netstandard2.1/integrity/-9bJeI6OvocKuJ_YRIbC-lwM2EG52NcSQhwcEJBaUXA=.hash
Client/obj/Debug/netstandard2.1/integrity/-cPXlNTX8GKF-lIn-2DIjtxTe0Wpy4ZDcyAj67b6JYk=.hash
Client/obj/Debug/netstandard2.1/integrity/-zcPVM75OAY_joGVM8yIC1gO1SFYWP1CFERgQ8PJkfA=.hash
Client/obj/Debug/netstandard2.1/integrity/3S0qzYaBEKOBXarzVLNzNAFXlwJr6nI3lFlYUpQTPH8=.hash
Client/obj/Debug/netstandard2.1/integrity/2jNkt--JGfoqWNB8whRdJotnsanWbH3FfxZWz0gyLTs=.hash
Client/obj/Debug/netstandard2.1/integrity/3trD3kyUrc0a2IrNSfLT2rSZ35MMdD2qtqG_vk_U8QA=.hash
Client/obj/Debug/netstandard2.1/integrity/6gJMwefpsWLHWsEipZp143xn8k2Ea27upnXqjUT6iNI=.hash
Client/obj/Debug/netstandard2.1/integrity/6mtLxbGMMGcIfch8cp0W9gmBoI493AxBRUPGEzOn3nU=.hash
Client/obj/Debug/netstandard2.1/integrity/6XMT1eT3svGdg6hFzAHJscYdTQjakoYccYTdHmKSr7Y=.hash
Client/obj/Debug/netstandard2.1/integrity/8g0neeYVmPrxWgbMI0ZTVO6257qMisUTPZ78egAnIMw=.hash
Client/obj/Debug/netstandard2.1/integrity/8kPLwGqODYAj20F8J_M1ydd23RcXMw8qruVQqy-eQEg=.hash
Client/obj/Debug/netstandard2.1/integrity/94gI0ImkfRPMo5FeVCoiU66qVHFOn9cj_S1mjv6TWvc=.hash
Client/obj/Debug/netstandard2.1/integrity/99dseBOagY3mzu5Y8Eqm8gRI_o8QbbCp7R2Ew9bQ_5E=.hash
Client/obj/Debug/netstandard2.1/integrity/_kkwUt5LUrFrnFcHiSvLP3Ps50UAimB6C5utgehqOo4=.hash
Client/obj/Debug/netstandard2.1/integrity/BaZPMj95_YNe3G4ckTGD6szZFwZeA2MOHn91zTGKDeU=.hash
Client/obj/Debug/netstandard2.1/integrity/Bs1Wrmh4ex9dTEIT0yCRF52N-wOmsBDt457BHr0-ssM=.hash
Client/obj/Debug/netstandard2.1/integrity/bSgsT2x5xMvs8mara5wU_EJwcyHa9GVMU85HwhWcdWM=.hash
Client/obj/Debug/netstandard2.1/integrity/C09aqx1vDLK7zQ9XnZcUqAgTDRwybxhRg-FR8HSk1v8=.hash
Client/obj/Debug/netstandard2.1/integrity/czNf3btAeBW-vvID5LAfgcsNZ_GM3ssVuPaMflcg0rs=.hash
Client/obj/Debug/netstandard2.1/integrity/DrtNiKIMjfSOdamH5Bs5zHmjFADgNiwrY5tRgTm6XuI=.hash
Client/obj/Debug/netstandard2.1/integrity/dxfTuT6ffPMmvuUUTfv7_bpLtOZZZHQdz77hjhy9qHw=.hash
Client/obj/Debug/netstandard2.1/integrity/eejp4oI3sQBq-tI6GsJNaPu3Dkdot5Vbn8_R3w2vYLE=.hash
Client/obj/Debug/netstandard2.1/integrity/FJ_rEgcx6ljTxwbRXZSUGfrDKpVvOxHCSfNxbnXNn3M=.hash
Client/obj/Debug/netstandard2.1/integrity/fMngt4py0YmfHqV6eONyCI6R5m_YOE7KZ3U4MzCrskE=.hash
Client/obj/Debug/netstandard2.1/integrity/hLbkXBzxUk9DSXYTLGRowe_80rxmpXsqEZbPIL4_5zs=.hash
Client/obj/Debug/netstandard2.1/integrity/HQeN_ZfHAERO_uW0fP0J9J3WV1hQ3vUIOWbqGSYBPp8=.hash
Client/obj/Debug/netstandard2.1/integrity/IPbQMdJxZXdk8HTlaPyXdQ6Zb82iZLphnM74yO4EURQ=.hash
Client/obj/Debug/netstandard2.1/integrity/IVlMRx5WULdi8Qd0yoifw-XjwynWgWntlCLN6Xh4kNk=.hash
Client/obj/Debug/netstandard2.1/integrity/kL-omZDwqByAi_lPdMeDmr3XjHcn4RVb_LmZ4mut1Yc=.hash
Client/obj/Debug/netstandard2.1/integrity/LIfCYwg_PHltTK4z3EnbSkA7m2cn8JS4jHVthdKrDF8=.hash
Client/obj/Debug/netstandard2.1/integrity/LqwA2Rpm96Ualk0IhLZar87kfRCyKHzHTeTt2jYhm7M=.hash
Client/obj/Debug/netstandard2.1/integrity/LUtkiqNd5ABTiuiYaqzaJxVjPq_Z4FqezuIWk-faqSA=.hash
Client/obj/Debug/netstandard2.1/integrity/m7Q_cF5-ji3OMfdGlCuE8pQ-iM_kxNHLq-IEWVvIaOg=.hash
Client/obj/Debug/netstandard2.1/integrity/moW4EYN6ExD6T0vSBMMggn62cZaTd8dSr9b-yj-9dPM=.hash
Client/obj/Debug/netstandard2.1/integrity/mPoqx7XczFHBWk3gRNn0hc9ekG1OvkKY4XiKRY5Mj5U=.hash
Client/obj/Debug/netstandard2.1/integrity/mQqyOIjuVduaLQ7ZyvDrChDLp8rTeQknIIWDzqsO4eY=.hash
Client/obj/Debug/netstandard2.1/integrity/n0Ag7rF7ZQamklPSZkakIXkRoa6JwlmPSS0cRaAhJQM=.hash
Client/obj/Debug/netstandard2.1/integrity/nwSfEuMRIlAJbT3e4dtl9oMX80oHjy21rUFfLWcROxc=.hash
Client/obj/Debug/netstandard2.1/integrity/ob5gN-szfb1CwWnyQWvWvuid3u4df593KvZeoJQEaKc=.hash
Client/obj/Debug/netstandard2.1/integrity/OBWh2or_2mU6elwqPfmL72FBZVKl2WzTJ4L-IrKeXM4=.hash
Client/obj/Debug/netstandard2.1/integrity/oK1Bjv95fH_hSbogUkJE_xDAI203kJG6lL6Sm-NuPWg=.hash
Client/obj/Debug/netstandard2.1/integrity/PEg9ghiKSWBTX0jq8pFDvv2Yvw92Y8W0ELtWrSE4fhA=.hash
Client/obj/Debug/netstandard2.1/integrity/ptCMHBy9q8MMLU0ukLMuvvhQk-yYljw37MTKtfsvuFQ=.hash
Client/obj/Debug/netstandard2.1/integrity/qAKfFnquY_7UC-MzLi04rjqEhLzTryCoLg-S6MxI19I=.hash
Client/obj/Debug/netstandard2.1/integrity/r6QdEXq0KfB8oZDzhnV4xskSbzJA0yBVi6XFpa3TGHM=.hash
Client/obj/Debug/netstandard2.1/integrity/R8CUbbWAKar388eFQJhUgiTgLEv2Mih9wr9iO0P7ImU=.hash
Client/obj/Debug/netstandard2.1/integrity/r8LuqDQgcB-c3E48xHqsAY1eRZB1ZtuqZF6nlufn7kg=.hash
Client/obj/Debug/netstandard2.1/integrity/RMOYBniHZkD8OZrBV3ONIMTZqsBhSAcBFm4pVuY9dv4=.hash
Client/obj/Debug/netstandard2.1/integrity/rvTW0d54uLW0iDMAX30lpmr9f8uHoS3YYkEU5zNGhyc=.hash
Client/obj/Debug/netstandard2.1/integrity/SPHS1EAPAcMFN4TEIUYl3FWtoCQTsNJch0XVGgok1eE=.hash
Client/obj/Debug/netstandard2.1/integrity/TkH6yxFQlTfY8NfznePrCdYJiEVpM9Dqy4Uu4H9qk10=.hash
Client/obj/Debug/netstandard2.1/integrity/tmnkCmP9OzLUkpQ3LP7PRosi7gt5pyfEZCM6aqAokFI=.hash
*.hash
Client/obj/Debug/netstandard2.1/Razor/_Imports.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/App.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Pages/BlogPost.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Pages/Counter.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Pages/FetchData.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Pages/Index.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Shared/MainLayout.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Shared/NavMenu.razor.g.cs
Client/obj/Debug/netstandard2.1/Razor/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/_Imports.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/App.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Pages/BlogPost.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Counter.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Pages/FetchData.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Index.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
Client/obj/Debug/netstandard2.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/netstandard2.1/staticwebassets/Blog.Client.StaticWebAssets.xml
Server/bin/Debug/netcoreapp3.1/appsettings.Development.json
Server/bin/Debug/netcoreapp3.1/appsettings.json
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Authentication.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Authentication.Core.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Authorization.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.deps.json
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.runtimeconfig.dev.json
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.runtimeconfig.json
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Connections.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Diagnostics.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Diagnostics.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.HostFiltering.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Hosting.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Hosting.Server.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Hosting.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Http.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Http.Extensions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Http.Features.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Http.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.HttpOverrides.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Metadata.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Routing.Abstractions.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Routing.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Server.IIS.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Server.IISIntegration.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Server.Kestrel.Core.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.Server.Kestrel.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.WebSockets.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.WebUtilities.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.AspNetCore.xml
Server/bin/Debug/netcoreapp3.1/BlazorDebugProxy/Microsoft.Net.Http.Headers.xml
Server/bin/Debug/netcoreapp3.1/Blog.Client.StaticWebAssets.xml
Server/bin/Debug/netcoreapp3.1/Blog.Server.deps.json
Server/bin/Debug/netcoreapp3.1/Blog.Server.runtimeconfig.dev.json
Server/bin/Debug/netcoreapp3.1/Blog.Server.runtimeconfig.json
Server/bin/Debug/netcoreapp3.1/Blog.Server.StaticWebAssets.xml
Server/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Client/obj/Debug/netstandard2.1/Blog.Client.AssemblyInfo.cs
Shared/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Shared/obj/Debug/netstandard2.1/Blog.Shared.AssemblyInfo.cs
Shared/obj/project.assets.json
Shared/obj/Blog.Shared.csproj.nuget.dgspec.json
Server/obj/project.assets.json
Server/obj/Debug/netcoreapp3.1/Blog.Server.RazorAssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/Blog.Server.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/obj/Blog.Server.csproj.nuget.dgspec.json
Client/obj/project.assets.json
Client/obj/project.assets.json
Server/obj/Blog.Server.csproj.nuget.dgspec.json
Server/obj/project.assets.json
Shared/obj/Blog.Shared.csproj.nuget.dgspec.json
Shared/obj/project.assets.json
.vs/Blog/DesignTimeBuild/.dtbcache.v2
.vs/Blog/config/debuggerConfiguration-a9341908-c338-4cd1-8c63-937a47ac5ae4.json
.vs/Blog/v16/.suo
Client/obj/project.assets.json
Server/obj/Blog.Server.csproj.nuget.dgspec.json
Server/obj/Debug/netcoreapp3.1/Blog.Server.csproj.CopyComplete
Server/obj/Debug/netcoreapp3.1/Blog.Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp3.1/Blog.Server.RazorTargetAssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
Server/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
Server/obj/Debug/netcoreapp3.1/staticwebassets/Blog.Server.StaticWebAssets.xml
Server/obj/project.assets.json
Shared/bin/Debug/netstandard2.1/Blog.Shared.deps.json
Shared/obj/Blog.Shared.csproj.nuget.dgspec.json
Shared/obj/Debug/netstandard2.1/Blog.Shared.csproj.FileListAbsolute.txt
Shared/obj/project.assets.json
Server/obj/Blog.Server.csproj.nuget.g.props
